<!-- <div class="example-list">
    <div *ngFor="let subTree of tree" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="subTree"
        (cdkDropListDropped)="drop($event)">
        <div class="example-row">
            <div class="example-box" [id]="'box' + getBlockId(subTree, index)"
                *ngFor="let item of subTree; index as index" cdkDrag
                (click)="onBlockClick('box' + getBlockId(subTree, index))">
                {{item}}
            </div>
        </div>
    </div>
</div>
<svg class="svg">
    <defs>
        <marker id="triangle" viewBox="0 0 10 10" refX="8" refY="5" markerUnits="strokeWidth" markerWidth="5"
            markerHeight="5" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" fill="#000" />
        </marker>
    </defs>
    <line *ngFor="let item of linesArray" class="line" [attr.x1]="item.x1" [attr.y1]="item.y1" [attr.x2]="item.x2"
        [attr.y2]="item.y2" #line class="line original" marker-end="url(#triangle)" />
</svg> -->
<!-- <ngx-graph [showMiniMap]="true" class="chart-container" [view]="[1000, 500]" [links]="[
    {
      id: 'link1',
      source: 'node1',
        target: 'node2',
      label: 'is parent of'
    }, {
      id: 'link2',
      source: 'node1',
      target: 'node3',
      label: 'custom label'
    }
  ]" [nodes]="[
    {
      id: 'node1',
      label: 'A'
    },
     {
      id: 'node2',
      label: 'B'
    }, 
    {
      id: 'node3',
      label: 'C'
    }
  ]">

    <ng-template #nodeTemplate let-node>
        <svg:g class="node" ngx-tooltip>
            <svg:rect class="example-box" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                [attr.fill]="'white'" />
            <svg:text alignment-baseline="central" [attr.x]="node.dimension.width / 2"
                [attr.y]="node.dimension.height / 2">
                {{node.label}}
            </svg:text>
        </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
        <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
        </svg:g>
    </ng-template>

</ngx-graph>

<ngx-graph [view]="[500, 550]" [links]="[
    {
      id: 'a',
      source: 'first',
      target: 'second',
      label: ''
    }, {
      id: 'b',
      source: 'first',
      target: 'c1',
      label: ''
    }, {
      id: 'd',
      source: 'first',
      target: 'c2',
      label: ''
    }, {
      id: 'e',
      source: 'c1',
      target: 'd',
      label: ''
    }, {
      id: 'f',
      source: 'c1',
      target: 'd',
      label: ''
    }
  ]" [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, 
    {
      id: 'second',
      label: 'B'
    }, 
    {
      id: 'c',
      label: 'C'
    }, 
    {
      id: 'd',
      label: 'D'
    }
  ]" layout="dagreCluster">
    <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
    </ng-template> -->

<!-- <ng-template #clusterTemplate let-cluster>
        <svg:g class="node cluster" ngx-tooltip>
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
                [attr.fill]="cluster.data.color" />
        </svg:g>
    </ng-template> -->

<!-- <ng-template #nodeTemplate let-node>
        <svg:g class="node" ngx-tooltip>
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                [attr.fill]="node.data.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                {{node.label}}
            </svg:text>
        </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
        <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
        </svg:g>
    </ng-template>
</ngx-graph> -->