@import '../../../../../styles/constants';

:host {
    display: flex;
    justify-content: center;
}

.example-list {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
}

.example-group {
    position: relative;
    display: flex;
}

.example-row {
    min-height: 60px;
    display: flex;
    justify-content: center;
}

.example-box {
    width: 200px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de,
        0 0 0 1px #e7e8ec;
    margin: 20px;
}


.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.svg {
    display: flex;
    justify-content: center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.line {
    stroke-width: 2px;
    stroke: rgb(0, 0, 0);
}