@import './styles/mixins';
@import './styles/null-style';
@import './styles/theme';
@import './styles/constants';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $defaultBackgroundColor;
}