<app-business-header [(buttons)]="headerButtons" (onBurgerClick)="onBurgerClick($event)">
</app-business-header>
<div cdkDropListGroup class="building-models-group">

    <div class="building-models-sidebar" [ngClass]="{'building-models-sidebar_hide': !isSidebarShown}">
        <div class="building-models-sidebar-content" cdkDropList [cdkDropListData]="sidebarBlocks"
            cdkDropListSortingDisabled>
            <div class="building-models-sidebar-block" cdkDrag *ngFor="let item of sidebarBlocks"
                [routerLink]="['/block-form', item._id]">
                {{item.blockType}}
                <mat-icon class="building-models-sidebar__delete" (click)="onBlockDelete($event, item._id)">clear
                </mat-icon>
            </div>
        </div>
        <div class="building-models-sidebar-add">
            <div class="building-models-sidebar-add__title" [routerLink]="['/block-form']">+ добавить блок</div>
        </div>
    </div>

    <drag-scroll #drg class="building-models-wrapper" [ngClass]="{'building-models-wrapper_shift': isSidebarShown}"
        style="width: '100%';">
        <div class="building-models-actions" *ngIf="linesArray.length">
            <button mat-stroked-button color="accent" (click)="removeLastLine()">Отменить последнее соединение</button>
        </div>
        <div class="building-models-list">
            <div *ngFor="let subTree; index as subArrIndex;  of canvasBlocks" cdkDropList
                cdkDropListOrientation="horizontal" [cdkDropListData]="subTree" (cdkDropListDropped)="drop($event)">
                <div class="building-models-row">
                    <div class="building-models-box" [id]="'box' + item.id"
                        *ngFor="let item of subTree; index as itemIndex" cdkDrag (click)="onBlockClick('box' + item.id)"
                        (mouseover)="onBlockHover('box' + item.id)" (mouseout)="onMouseOut('box' + item.id)">
                        <div class="building-models-properties" *ngIf="item.properties.length; else emptyMessage">
                            <div class="building-models-properties__item" *ngFor="let property of item?.properties">
                                {{property?.alias}}:{{property?.default}}
                            </div>
                        </div>
                        <ng-template #emptyMessage>
                            <div class="building-models__secondary-text">У данного блока нет свойств...</div>
                        </ng-template>
                        <mat-icon class="building-models-box__delete"
                            (click)="onBlockDeleteFromModel(subArrIndex, itemIndex, 'box' + item.id)">clear
                        </mat-icon>
                        <mat-icon class="building-models-box__settings"
                            (click)="onBlockModelEdit(subArrIndex, itemIndex)">settings
                        </mat-icon>
                        <div class="building-models-box__number">{{getBlockIndex(subArrIndex, itemIndex)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </drag-scroll>
</div>